body {
    padding-top: 20px;
}

nav {
    background-color: #0693FA;
    height: 50px;
}

.headtext {
    font-family: Moul;
}

a {
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link  {
    font-family: Anybody;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.99);
}

.navbar-light .navbar-nav .nav-item {
    position: relative;
    margin: auto;
}

html, body, .view {
    height: 100%;
}

.carousel {
    height: 50%;
}

.carousel .carousel-inner {
    height: 100%;
}
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active{
    height: 100%;
}

@media (max-width: 776px) {
    .carousel {
        height: 100%;
    }
}

.news {
    height: 160px;
    border-radius: 10px;
    padding-right: 2px;
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    font-family: Anybody;
    font-weight: bold;
    font-size: 25px;

}

.productNav {
    height: 60px;
    margin-top: 50px;
    margin-bottom: 25px;
    border: 3px solid;
    border-radius: 84px;
    border-color: #0693FA;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Anybody;
    font-weight: bold;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.99);
}

.category .productNav {
    margin-top: 80px;
}

.product {
    margin-top: 60px;
    margin-left: 0px;
    align-items: center;
    align-content: center;
}

.cart {
    position: relative;
    right: 0;
    top: 37%;
}

.card {
    position: relative;
    display: flex;
    border: none;
}

footer {
    background-color: #111E49;
    height: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.starter-template {
    padding: 20px 15px;
    text-align: center;
}

table {
    text-align: left;
}

div.thumbnail img {
    max-height: 200px;
}

div.form-inline form {
    display: inline;
}

div.labels {
    position: absolute;
}

div.filters {
    padding-bottom: 5px;
}

.category a:hover {
    background-color: #0693FA;
}

div.labels span.badge {
    display: block;
}

span.badge.badge-success {
    color: #fff;
    background-color: #28a745;
}

span.badge.badge-warning {
    color: #fff;
    background-color: #dc3545;
}

span.badge.badge-danger {
    color: #212529;
    background-color: #ffc107;
}



