a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: black;
}


li{
    list-style: none;
}
header{
    width: 100%;
    background: #0693FA;
    display: flex;
    position: fixed;
    z-index: 2;
    margin-top: -20px;
}

.header-logo{
    color: #000000;
    font-family: Moul;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 5%;
}


.header-img{
    position: absolute;
    margin-left: 2%;
    margin-top: 10px;
}

nav{
    margin-top: 6px;
    margin-left: 40%;
}

.topnav a{
    color: black;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.topnav a:hover{
    border-bottom: 3px solid #000000;
    color: #a9a9c5;
}

.topnav .icon{
    display: none;
}

@media screen and (max-width: 1053px){
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        color: black;
        font-size: 25px;
    }

    nav{
        width: 100%;
    }

    .topnav{
        padding-right: 40%;
    }

    .header-logo{
        padding-left: 10%;
    }

    .topnav.responsive{
        position: relative;
        top: 50px;
        left: -200px;
    }

    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -120px;
    }

    header .topnav.responsive{
        height: 340px;
    }

    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }

    .view{
        padding-top: 4%;
    }

    .news {
        display: none;
    }
}


body {
    padding-top: 20px;
}

.headtext {
    font-family: Moul;
}

.view{
    height: 100%;
    width: 100%;
    margin-top: 3%;
}

.navbar-light .navbar-nav .nav-link  {
    font-family: Anybody;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.99);
}

.navbar-light .navbar-nav .nav-item {
    position: relative;
    margin: auto;
}

html, body, .view {
    height: 100%;
}



.news {
    height: 160px;
    border-radius: 10px;
    padding-right: 2px;
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    font-family: Anybody;
    font-weight: bold;
    font-size: 25px;
    text-align: center;

}

.productNav {
    height: 60px;
    margin-top: 50px;
    margin-bottom: 25px;
    border: 3px solid;
    border-radius: 84px;
    border-color: #0693FA;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Anybody;
    font-weight: bold;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.99);
}

.category .productNav {
    margin-top: 80px;
}

.product {
    margin-top: 60px;
    margin-left: 0px;
    align-items: center;
    align-content: center;
}

.cart {
    position: relative;
    right: 0;
    top: 37%;
}

.card {
    position: relative;
    display: flex;
    border: none;
}

footer {
    background-color: #111E49;
    height: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.starter-template {
    padding: 20px 15px;
    text-align: center;
}

table {
    text-align: left;
}

div.thumbnail img {
    max-height: 200px;
}

div.form-inline form {
    display: inline;
}

div.labels {
    position: absolute;
}

div.filters {
    padding-bottom: 5px;
}

.category a:hover {
    background-color: #0693FA;
}

div.labels span.badge {
    display: block;
}

span.badge.badge-success {
    color: #fff;
    background-color: #28a745;
}

span.badge.badge-warning {
    color: #fff;
    background-color: #dc3545;
}

span.badge.badge-danger {
    color: #212529;
    background-color: #ffc107;
}



